<?xml version="1.0"?>

<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:macro name="ffw_right_gazebo" >

  <xacro:macro name="SimpleTransmission" params="trans joint actuator">
    <transmission name="${trans}">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="${joint}">
        <hardwareInterface>PositionJointInterface</hardwareInterface>
      </joint>
      <actuator name="${actuator}">
        <mechanicalReduction>1</mechanicalReduction>
        <hardwareInterface>PositionJointInterface</hardwareInterface>
      </actuator>
    </transmission>
  </xacro:macro>

  <xacro:macro name="Link" params="reference">
    <gazebo reference="${reference}">
      <kp>1000000.0</kp>
      <kd>100.0</kd>
      <mu1>30.0</mu1>
      <mu2>30.0</mu2>
      <maxVel>1.0</maxVel>
      <minDepth>0.001</minDepth>
    </gazebo>
  </xacro:macro>

  <xacro:Link reference="base_link_right_hand"/>
  <xacro:Link reference="right_thumb_1"/>
  <xacro:Link reference="right_thumb_2"/>
  <xacro:Link reference="right_thumb_3"/>
  <xacro:Link reference="right_thumb_4"/>
  <xacro:Link reference="right_index_1"/>
  <xacro:Link reference="right_index_2"/>
  <xacro:Link reference="right_middle_1"/>
  <xacro:Link reference="right_middle_2"/>
  <xacro:Link reference="right_ring_1"/>
  <xacro:Link reference="right_ring_2"/>
  <xacro:Link reference="right_little_1"/>
  <xacro:Link reference="right_little_2"/>

  <xacro:SimpleTransmission trans="right_trans1" joint="right_thumb_1_joint" actuator="right_actuator1"/>
  <xacro:SimpleTransmission trans="right_trans2" joint="right_thumb_2_joint" actuator="right_actuator2"/>
  <xacro:SimpleTransmission trans="right_trans3" joint="right_index_1_joint" actuator="right_actuator3"/>
  <xacro:SimpleTransmission trans="right_trans4" joint="right_middle_1_joint" actuator="right_actuator4"/>
  <xacro:SimpleTransmission trans="right_trans5" joint="right_ring_1_joint" actuator="right_actuator5"/>
  <xacro:SimpleTransmission trans="right_trans6" joint="right_little_1" actuator="right_actuator6"/>

  </xacro:macro>

</robot>
