KERNEL=="ttyUSB*", DRIVERS=="ftdi_sio", MODE="0666", ATTR{device/latency_timer}="1"

# left_leader
SUBSYSTEM=="tty", ENV{ID_SERIAL}=="FTDI_USB__-__Serial_Converter_FTA7NMDP", SYMLINK+="left_leader", MODE="0666", ATTR{device/latency_timer}="1"

# right_leader
SUBSYSTEM=="tty", ENV{ID_SERIAL}=="FTDI_USB__-__Serial_Converter_FTA7NLPY", SYMLINK+="right_leader", MODE="0666", ATTR{device/latency_timer}="1"

# follower
SUBSYSTEM=="tty", ENV{ID_SERIAL}=="FTDI_USB__-__Serial_Converter_FTA7NRSR", SYMLINK+="follower", MODE="0666", ATTR{device/latency_timer}="1"
