Source: ros-lyrical-ffw-teleop
Section: misc
Priority: optional
Maintainer: Pyo <pyo@robotis.com>
Build-Depends: debhelper (>= 9.0.0), python3-tk, ros-lyrical-rclpy, ros-lyrical-ros-workspace, python3-all, python3-setuptools, dh-python
Homepage: https://index.ros.org/p/ffw_teleop/#lyrical
Standards-Version: 3.9.2

Package: ros-lyrical-ffw-teleop
Architecture: any
Depends: ${python3:Depends}, ${misc:Depends}, python3-tk, ros-lyrical-rclpy, ros-lyrical-ros-workspace
Description: FFW teleop ROS 2 package.
